.body {
  position: fixed;
  top:0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  width: 100%;
  min-height: 100%;
  }

  .brand h2{
    display: block;
    margin: 20px;
    color: whitesmoke;
    font-family: Tahoma, sans-serif;
    clear: both;
  }

  #signup-column {
    padding: 0 20px;
  }

  #signup-box {
    margin-top: 120px;
    max-width: 600px;
    height: 450px;
    border: 1px solid #9c9c9c;
    background-color: #EAEAEA;
  }
  #signup-form {
    padding: 20px;
  }

  #signup-button {
    margin-top: 20px;
  }

 #account-link {
   display: flex;
   flex-wrap: wrap;
    /* margin: 20px; */
    color: #4fa8b6;
  } 

  .text-right > a {
    margin: auto 5px;
    color: #5dc6d6;
    font-weight: bold;
  }

  @media screen and (max-width: 420px) {
    .body {
      min-height: 700px;
    }
     #signup-box {
      margin-top: 0;
      height: 470px;
      transform: scale(1, 0.9);
     
    }

    .text-right > a {
      margin: auto 5px;
      padding-bottom: 10px ;
    }

  }